.Ring {
    display: block;
    width: 110px;
    height: 110px;
    margin: 0 auto;
}
.Ring:after {
    content: " ";
    display: block;
    width: 94px;
    height: 94px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--color-secondary);
    border-color: var(--color-secondary) transparent var(--color-secondary) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
.Modal h2{
    color: var(--color-secondary);
    text-align: center;
    margin: 15px 0 30px;
    font-weight: 700;
    font-size: 1.5rem;
}

.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
