@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --color-primary: #018001;
  --color-primary-light: #4cb13b;
  --color-primary-dark: #005200;
  --color-secondary:#0d47a1;
  --color-secondary-light:#5472d3;
  --color-secondary-dark:#002171;
}

html{
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.active{
  background-color: var(--color-primary-light);
}

.error{
  border: 2px solid red !important;
}

